milestone-4/tests
milestone-4/__pycache__/run_tests.cpython-312-pytest-7.4.3.pyc
milestone-4/env
milestone-4/__pycache__
env
milestone-3/nick/__pycache__
milestone-1/.DS_Store
milestone-2/.DS_Store
.DS_Store
